
.square {
  position: relative;
  border: 1px solid black;
  box-sizing: content-box;

  &__wrapper {
    position: absolute;
  }

  &__white {
    background-color: white;
  }
  
  &__black {
    background-color: black;
  }
}
