
.checker {
  border-radius: 50%;
  box-sizing: content-box;
  z-index: 1;
  position: absolute;

  &__white {
    background-color: rgb(255, 255, 255);
  }
  
  &__black {
    background-color: rgb(172, 91, 48);
  }
}